@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}
  

#score {
  position: absolute;
  font-family: "Press Start 2P", cursive;
  font-size: 1.5em;
  color: white;
  transform: translate(-50%, -50%);
  opacity: 0.9;
  max-width: 100px;
  text-align: center;
  line-height: 1.6em;
}

#results {
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.75);
  display: none;
  z-index: 51;
}

#results .content {
  font-family: "Press Start 2P", cursive;
  color: #ffffff;
  max-width: 350px;
  padding: 50px;
  border-radius: 20px;
}

#instruction {
  position: absolute;
  font-family: "Press Start 2P", cursive;
  font-size: 1em;
  color: white;
  opacity: 0.9;
  max-width: 250px;
  text-align: center;
  line-height: 1.6em;
}

@media (max-width: 1000px) {
  #instruction {
    font-size: 0.7em;
  }
  #score {
    font-size: 1em;
  }
}